@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Raleway");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit;
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template,
[hidden] {
  display: none; }

a,
p,
h1,
h2,
h3,
h4,
span,
b,
strong,
ul li,
ol li {
  font-family: 'Montserrat', sans-serif; }

p {
  font-family: 'Raleway', sans-serif; }

section,
div,
section.one .dp-box .name-des:before {
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s; }

ul,
ol {
  margin: 0;
  padding: 0; }

h2 {
  margin-bottom: 40px; }

section {
  width: 100%; }
  section.one {
    height: 60vh;
    background: #0d4655 url(../images/head-bg.jpg) no-repeat;
    position: fixed;
    background-size: 100%;
    z-index: 9;
    overflow: hidden;
    -webkit-box-shadow: 2px 6px 5px -4px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 2px 6px 5px -4px rgba(0, 0, 0, 0.39);
    box-shadow: 2px 6px 5px -4px rgba(0, 0, 0, 0.39); }
    section.one canvas {
      display: none;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    section.one .dp-box {
      width: 530px;
      display: flex;
      margin-top: 64px;
      position: relative;
      left: 30%;
      color: #fff; }
      section.one .dp-box h1 {
        font-size: 35px;
        color: #fff;
        font-weight: 500;
        margin: 0;
        padding-top: 30px;
        padding-left: 17px;
        text-transform: uppercase; }
    section.one .dp-img {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      overflow: hidden;
      border: 7px solid #57747b; }
      section.one .dp-img img {
        width: 100%; }
    section.one .dp-box h1 span {
      font-weight: 300; }
    section.one .dp-box h2 {
      margin: 3px 0 0 0;
      font-size: 13px;
      font-weight: 200;
      text-transform: uppercase;
      padding-left: 20px; }
    section.one .dp-box .name-des {
      position: relative; }
      section.one .dp-box .name-des:before {
        position: absolute;
        bottom: 40px;
        content: "";
        width: 104%;
        left: -10px;
        height: 1px;
        display: block;
        background: #486a73; }
      section.one .dp-box .name-des:after {
        position: absolute;
        bottom: 36px;
        content: "";
        width: 10px;
        height: 10px;
        right: -6px;
        display: block;
        background: #486a73;
        border-radius: 50%; }
    section.one .i-work {
      width: 312px;
      margin: 90px auto 0 auto; }
      section.one .i-work #slogans {
        position: relative;
        font-size: 20px;
        font-weight: 200;
        padding-top: 3px;
        top: 0px;
        right: 0px;
        color: #fff; }
      section.one .i-work p.slogan {
        color: #fff;
        margin: 0px;
        font-size: 20px;
        font-weight: 200;
        left: 117px !important; }
        section.one .i-work p.slogan strong {
          display: block;
          position: relative;
          opacity: 0;
          font-weight: 200;
          background: #57747b;
          padding: 3px 5px; }
    section.one .details-box {
      position: absolute;
      padding: 0 50px 15px 50px;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-between; }
      section.one .details-box a {
        display: inline-block;
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        text-decoration: none;
        letter-spacing: 1px;
        padding-right: 25px;
        position: relative; }
        section.one .details-box a:after {
          content: "";
          display: block;
          position: absolute;
          width: 4px;
          height: 4px;
          background: #788d95;
          border-radius: 50%;
          right: 9px;
          top: 5px; }
        section.one .details-box a:last-child {
          padding-right: 0; }
          section.one .details-box a:last-child:after {
            display: none; }
    section.one.optimize-top {
      height: 15vh; }
      section.one.optimize-top .dp-box {
        margin-top: 5px;
        left: 3.5%; }
      section.one.optimize-top .dp-img {
        width: 80px;
        height: 80px;
        border: 4px solid #57747b; }
      section.one.optimize-top .dp-box h1 {
        padding-top: 10px; }
      section.one.optimize-top .dp-box .name-des:before {
        bottom: 10px;
        content: "";
        width: 109%;
        left: -20px; }
      section.one.optimize-top .dp-box .name-des:after {
        bottom: 6px;
        right: -14px; }
      section.one.optimize-top .details-box {
        justify-content: flex-end; }
      section.one.optimize-top canvas {
        display: inherit; }
      section.one.optimize-top .details-box .dbox-left a:last-child {
        padding-right: 25px; }
      section.one.optimize-top .details-box .dbox-left a:after {
        display: inherit; }
  section.two {
    background: url(http://www.powerpointhintergrund.com/uploads/blue-lights-blurry-background-9.jpg) no-repeat fixed;
    background-size: cover;
    position: relative;
    padding-top: 63vh;
    padding-bottom: 70px; }
    section.two h2 {
      color: #0d4755;
      font-weight: 500; }
    section.two .main {
      width: 40%;
      display: table;
      margin: 0 auto; }
      section.two .main .col-box {
        width: 25%;
        display: inline-block;
        background: #ccc; }
    section.two ul li {
      margin-right: 10px;
      margin-bottom: 35px;
      display: inline-block;
      list-style: none;
      transition: all 0.4s; }
      section.two ul li a {
        font-size: 14px !important;
        padding: 10px 20px;
        background: rgba(255, 255, 255, 0.21);
        border: 1px solid rgba(13, 71, 85, 0.48);
        text-decoration: none;
        color: #4a4949;
        transition: all 0.4s;
        -moz-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        font-size: 16px;
        position: relative; }
        section.two ul li a:hover {
          color: #0d4755; }
        section.two ul li a:before {
          position: absolute;
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: rgba(13, 71, 85, 0.25);
          bottom: 0;
          transition: all 0.4s;
          -moz-transition: all 0.4s;
          -webkit-transition: all 0.4s; }
        section.two ul li a:hover:before {
          width: 25%; }
    section.two .main {
      display: block; }
      section.two .main .left-box {
        width: 100%;
        display: block;
        margin-bottom: 40px; }
      section.two .main .right-box {
        width: 100%;
        display: block; }
        section.two .main .right-box a {
          width: 150px;
          display: inline-block;
          vertical-align: top;
          border: 1px solid rgba(13, 71, 85, 0.48);
          text-decoration: none;
          color: #585858;
          margin-right: 20px; }
          section.two .main .right-box a.remove-right-margin {
            margin-right: 0; }
          section.two .main .right-box a img {
            width: 100%; }
          section.two .main .right-box a span {
            display: block;
            margin-top: 10px;
            padding-left: 10px;
            font-size: 14px;
            padding-bottom: 10px; }

.hide-000logo ~ div {
  display: none !important;
  opacity: 0;
  transform: scale(0); }

footer {
  background: #0d4655; }
  footer p {
    display: block;
    font-size: 12px;
    color: #fff;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; }

@media (max-width: 989px) {
  section.one.optimize-top {
    height: 20vh; } }
@media (max-width: 769px) {
  section.one.optimize-top {
    height: 200px; }
  section.one .dp-box {
    width: 90%;
    left: 0 !important;
    right: 0 !important;
    margin-right: auto;
    margin-left: auto; }
    section.one .dp-box h1 {
      padding-top: 20px;
      padding-left: 14px;
      font-size: 25px; }
  section.one .dp-img {
    width: 86px;
    height: 86px; }
  section.one .dp-box .name-des:before {
    left: -15px;
    bottom: 15px; }
  section.one .dp-box .name-des:after {
    bottom: 10px; }
  section.one .i-work {
    margin: 20px auto 0 17%; }
  section.one .details-box .dbox-left a {
    padding-right: 0;
    display: block; }
    section.one .details-box .dbox-left a:after {
      display: none; }

  section.two .main {
    width: 70%; }
  section.two ul li {
    margin-bottom: 15px; }
    section.two ul li a {
      display: block; } }
@media (max-width: 598px) {
  section.one .details-box {
    display: block;
    text-align: center;
    line-height: 22px; }
  section.one .dp-box {
    left: 8%; }
    section.one .dp-box h2 {
      font-size: 10px; }
  section.one.optimize-top .i-work {
    opacity: 0; }
  section.two .main .right-box a {
    width: 120px;
    margin-right: 3px;
    margin-bottom: 10px; } }

/*# sourceMappingURL=imrahulraju.css.map */
